.forgotpassword {
	min-height: 72vh;
}

.forgotpassword__title {
	padding: 15px;
	font-size: x-large;
	font-weight: bold;
}

.forgotpassword button {
	padding: 8px;
	width: 100px;
	border-radius: 5px;
	border: none;
	background: #131921;
	font-weight: bolder;
	cursor: pointer;
	color: white;
}

.forgotpassword form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
