.home {
	min-height: 70vh;
}
.home__description {
	text-align: center;
	padding: 10px;
	font-size: large;
	background: #fdb813;
	font-weight: 700;
	cursor: pointer;
}
.home__description:hover {
	background-color: #cd9042;
}
.home__heading {
	margin: 20px;
	padding: 10px;
	border-bottom: 1px solid;
	font-size: xx-large;
	font-weight: 900;
}
.home__category__wrapper {
	width: 38%;
	border: 1px solid #b0bdb0;
	margin: 9px;
	transition: 0.99s;
	padding: 20px;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
}

.home__category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.home__category__wrapper__title {
	font-size: 28px;

	font-weight: bold;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	margin-bottom: 12px;
}
.home__category img {
	width: 100%;
	height: 524px;
	border-radius: 10px;
	object-fit: none;
}
.home__category__wrapper:hover {
	background-color: #131921;
	color: white !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 20px;
}
@media (max-width: 950px) {
	.home__category__wrapper {
		width: 76%;
	}
}
.loading {
	text-align: center;
	margin: 20px 0;
}
